<div class="letraa"  >
    <h2 >
        <b>Aprendizaje para ascender a cinturón amarillo</b>          
    </h2>
</div>
<div class="contenedor">

    <div class="contenido">
        <div class="letra"  >
            <h1 class="texto">
                <br>
                <b>Paso N° 1:</b>
            </h1>
            Descarga el siguiente documento PDF, donde encontrarás información relevante sobre el exámen de ascenso a cinturón amarillo, léelo con atención y continua con el paso N°2
        </div> 
        <br>
        <br>
        <br>
              <h1 class="texto">
        <button
          style="font-size: 30px"
          class="btn btn-outline-success my-2 my-sm-0"
          type="submit"
          href
        >
          Descargar PDF
        </button>
      </h1>
      
    </div> 
        <div class="contenido">
        <div class="letra"  >
            <h1 class="texto">
                <br>
                ¡Escoge la unidad de tu interés!
            </h1>

        </div> 
    </div>
</div>
