<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-toggleable-sm stick-top">
  
  <div class="container-fluid container ">
    <a class="navbar-brand titulo " style="font-size: 30px" >KarateArt</a>
    <div>
      <div class="navbar-nav mr-auto ml-auto text-center">
        <div class="navbar-nav mr-auto ml-center text-center">
          <a class="nav-item btn btn-outline-success my-2 my-sm-0 letra1" href="login">Salir</a>
        </div>
      </div>
    </div>
  </div>

</nav>
<div class="container-fluid mt-5">
  <br>
<div class="contenedor">
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <img src="assets/capturaniño.png" height="500" width="300" />
  <div class="contenido">
    <div class="letra texto">
      <h3 class="letracolor">
        Ya casi terminas...
      </h3>
      <div style="margin: 30px;">
        <h5>Has aprendido mucho, creeemos que ya estás list@ para el cuestionario final.
        Así mediremos cuanto aprendiste en nuestras unidades.
      </h5>
      </div>
      <button
      (click)="irCuestionario()"
        class="btn btn-outline-success my-2 my-sm-0 letra "
        type="submit"
     >
        Contestar cuestionario final
      </button>
      <div style="margin: 30px;">
        <h5>Por contestar este cuestionario te daremos:
      </h5>
      <h4 class="letra2">
        100 EXP
        <img width="50" src="assets/escudo.png" />
      </h4>
      </div>
      

      <strong>
      </strong>
      <div class="card-container">

      </div>
    </div>
  </div>
  <div >
    <img src="assets/capturaniña.png" height="500" width="300" />
    <br>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    
  </div>
</div>
</div>

