<div class="contenido5">
  <div class="contenedor">
    <div class="contenido">
      <div class="letra">
        <h1 class="letracolor">Tienda</h1>
        <br />
        <h4>
          Bienvenido a la tienda, redime tus esmeraldas por cualquiera de
          nuestros premios.
        </h4>
        <br />
        <div>
          <div class="contenido6">
            cuentas con:
            <img width="50" src="assets/escudo.png" /> &nbsp; 100 EXP
            Equivalentes a =
            <img width="60" src="assets/esmeralda.png" /> &nbsp; 50 Esmeraldas
            <br />
            2 EXP = 1 Esmeralda
          </div>
          &nbsp;
          <div class="card-container">
            <div class="contenido7">
              <img width="60" height="40" src="assets/esmeralda.png" /> &nbsp;
              300
            </div>
            <div>
              <button class="circle-link">
                <img src="assets/Zorro.png" height="70" width="90" />
              </button>
            </div>
          </div>

          <span>
            <h6>Sesion de karate de 20 min con la sempai Monica Prado</h6>
          </span>
          &nbsp;
          <div class="card-container">
            <div class="contenido7">
              <img width="60" height="40" src="assets/esmeralda.png" /> &nbsp;
              450
            </div>
            <button class="circle-link" title="Premio1">
              <img src="assets/Tigre.png" height="70" width="90" />
            </button>
          </div>
          <span>
            <h6>Sesion de karate de 35 min con la sempai Monica Prado</h6>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
