<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-toggleable-sm stick-top">
  
  <div class="container-fluid container ">
    <a class="navbar-brand titulo " style="font-size: 30px" >KarateArt</a>
    <div>
      <div class="navbar-nav mr-auto ml-auto text-center">
        <div class="navbar-nav mr-auto ml-center text-center">
          <a class="nav-item btn btn-outline-success my-2 my-sm-0 letra1" href="home">Salir</a>
        </div>
      </div>
    </div>
  </div>

</nav>
<div class="container-fluid mt-5">
  <div class="contenido5">
  <div class="contenedor">
    <div class="contenido">
      <div class="letra">
        <h1 class="letracolor">Tienda</h1>
        <br />
        <h4>
          Bienvenido a la tienda, redime tus esmeraldas por cualquiera de
          nuestros premios.
        </h4>
        <br />
        <div>
          <div class="contenido6">
            cuentas con:
            <img width="50" src="assets/escudo.png" /> &nbsp; 100 EXP
            Equivalentes a =
            <img width="60" src="assets/esmeralda.png" /> &nbsp; 50 Esmeraldas
            <br />
            100 EXP = 50 Esmeralda
          </div>
          &nbsp;
          <div class="card-container">
            <div class="contenido7">
              <img width="60" height="40" src="assets/esmeralda.png" /> &nbsp;
              300
            </div>
            <div>
              <button class="circle-link" title="Premio1" (click)="premio1()">
                <img src="assets/Zorro.png" height="70" width="90" />
              </button>
            </div>
          </div>

          <span>
            <h6>Sesion de karate de 20 min con la sempai Monica Prado</h6>
          </span>
          &nbsp;
          <div class="card-container">
            <div class="contenido7">
              <img width="60" height="40" src="assets/esmeralda.png" /> &nbsp;
              450
            </div>
            <button class="circle-link" title="Premio2" (click)="premio2()">
              <img src="assets/Tigre.png" height="70" width="90" />
            </button>
          </div>
          <span>
            <h6>Sesion de karate de 35 min con la sempai Monica Prado</h6>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

