<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-toggleable-sm stick-top">
  
  <div class="container-fluid container ">
    <a class="navbar-brand titulo " style="font-size: 30px" >KarateArt</a>
    <div>
      <div class="navbar-nav mr-auto ml-auto text-center">
        <div class="navbar-nav mr-auto ml-center text-center">
          <a class="nav-item btn btn-outline-success my-2 my-sm-0 letra1" href="home">Salir</a>
        </div>
      </div>
    </div>
  </div>

</nav>
<div class="container-fluid mt-5">
  <div class="animated fadeIn">
  <div class="contenido5">
    <div class="contenedor">
      <div class="contenido">
        <div class="letra">
          <h1 class="letracolor">Cuestionario</h1>
          <br />
          <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
            <div class="form-group">
              <div class="contenido1">
                <h5>¿Cómo se llama el padre del Karate moderno?</h5>
                <input
                  name="respuesta1"
                  value="opcion1"
                  id="opcion-1"
                  type="radio"
                  formControlName="respuesta1"
                />
                Gichin Funakoshi<br />

                <input
                  name="respuesta1"
                  value="opcion2"
                  id="opcion-2"
                  type="radio"
                  formControlName="respuesta1"
                />
                Ryan Castro <br />
                <input
                  name="respuesta1"
                  value="opcion3"
                  id="opcion-3"
                  type="radio"
                  formControlName="respuesta1"
                />
                Lyoto Machida<br />
              </div>
            </div>
            &nbsp;
            <div class="form-group">
              <div class="contenido1">
                <h5>¿Cuáles son las Katas que se deben presentar en el examen de amarrillo?</h5>
                <input
                  name="respuesta2"
                  value="opcion1"
                  id="opcion-1"
                  type="radio"
                  formControlName="respuesta2"
                />
                Heian yondan, Heain Sandan<br />

                <input
                  name="respuesta2"
                  value="opcion2"
                  id="opcion-2"
                  type="radio"
                  formControlName="respuesta2"
                />
                Taikyoku Shodan, Heian Shodan<br />
                <input
                  name="respuesta2"
                  value="opcion3"
                  id="opcion-3"
                  type="radio"
                  formControlName="respuesta2"
                />
                Taikyoku Sandan, Taikyoku Nidan<br />
              </div>
            </div>
            &nbsp;
            <div class="form-group">
              <div class="contenido1">
                <h5>¿Que simboliza el cinturón amarrillo?</h5>
                <input
                  name="respuesta3"
                  value="opcion1"
                  id="opcion-1"
                  type="radio"
                  formControlName="respuesta3"
                />
                Luz, despetar, arte<br/>

                <input
                  name="respuesta3"
                  value="opcion2"
                  id="opcion-2"
                  type="radio"
                  formControlName="respuesta3"
                />
                Ilusión, intenso, despertar<br />
                <input
                  name="respuesta3"
                  value="opcion3"
                  id="opcion-3"
                  type="radio"
                  formControlName="respuesta3"
                />
                Confianza, armonia, afecto<br />
              </div>
            </div>
            &nbsp;
            <div class="form-group">
              <div class="contenido1">
                <h5>¿Qué significa Kata?</h5>
                <input
                  name="respuesta4"
                  value="opcion1"
                  id="opcion-1"
                  type="radio"
                  formControlName="respuesta4"
                />
                Técnicas prácticadas en el kihon<br />

                <input
                  name="respuesta4"
                  value="opcion2"
                  id="opcion-2"
                  type="radio"
                  formControlName="respuesta4"
                />
                Serie de técnicas, realizadas con un orden preeestablecido<br />
                <input
                  name="respuesta4"
                  value="opcion3"
                  id="opcion-3"
                  type="radio"
                  formControlName="respuesta4"
                />
                Aplicaciones de combate<br />
              </div>
            </div>
            &nbsp;
            <div class="form-group">
              <div class="contenido1">
                <h5>¿Que significa Heian Shodan</h5>
                <input
                  name="respuesta5"
                  value="opcion1"
                  id="opcion-1"
                  type="radio"
                  formControlName="respuesta5"
                />
                La mente en paz<br />

                <input
                  name="respuesta5"
                  value="opcion2"
                  id="opcion-2"
                  type="radio"
                  formControlName="respuesta5"
                />
                Último básico<br />
                <input
                  name="respuesta5"
                  value="opcion3"
                  id="opcion-3"
                  type="radio"
                  formControlName="respuesta5"
                />
                Paz y tranquilidad<br />
              </div>
            </div>
            &nbsp;
            <div class="form-group">
              <div class="contenido1">
                <h5>¿Quien es el sensei del karate en Tuluá?</h5>
                <input
                  name="respuesta6"
                  value="opcion1"
                  id="opcion-1"
                  type="radio"
                  formControlName="respuesta6"
                />
                Omaira Castro<br />

                <input
                  name="respuesta6"
                  value="opcion2"
                  id="opcion-2"
                  type="radio"
                  formControlName="respuesta6"
                />
                Monica Prado<br />
                <input
                  name="respuesta6"
                  value="opcion3"
                  id="opcion-3"
                  type="radio"
                  formControlName="respuesta6"
                />
                Lyoto Machida<br />
              </div>
            </div>
            &nbsp;
            <div class="form-group">
              <div class="contenido1">
                <h5>Significado de Kokyu</h5>
                <input
                  name="respuesta7"
                  value="opcion1"
                  id="opcion-1"
                  type="radio"
                  formControlName="respuesta7"
                />
                Actitud de voluntad y de la mente<br />

                <input
                  name="respuesta7"
                  value="opcion2"
                  id="opcion-2"
                  type="radio"
                  formControlName="respuesta7"
                />
                Velocidad de movimiento en los desplazamientos<br />
                <input
                  name="respuesta7"
                  value="opcion3"
                  id="opcion-3"
                  type="radio"
                  formControlName="respuesta7"
                />
                La respiración relacionada con la posición y el movimiento<br />
              </div>
            </div>
            &nbsp;
            <div class="form-group">
              <div class="contenido1">
                <h5>¿Nombre del primer Karateca que ganó juegos centroamericanos 2018, nacido en Tuluá?</h5>
                <input
                  name="respuesta8"
                  value="opcion1"
                  id="opcion-1"
                  type="radio"
                  formControlName="respuesta8"
                />
                Carlos Sinisterra<br />

                <input
                  name="respuesta8"
                  value="opcion2"
                  id="opcion-2"
                  type="radio"
                  formControlName="respuesta8"
                />
                Rafael Aghayev<br />
                <input
                  name="respuesta8"
                  value="opcion3"
                  id="opcion-3"
                  type="radio"
                  formControlName="respuesta8"
                />
                Enrique Martinez<br />
              </div>
            </div>
            &nbsp;
            <div class="form-group">
              <div class="contenido1">
                <h5>¿En Karate que es "Kime"?</h5>
                <input
                  name="respuesta9"
                  value="opcion1"
                  id="opcion-1"
                  type="radio"
                  formControlName="respuesta9"
                />
                Ritmo<br />

                <input
                  name="respuesta9"
                  value="opcion2"
                  id="opcion-2"
                  type="radio"
                  formControlName="respuesta9"
                />
                Energía Interna<br />
                <input
                  name="respuesta9"
                  value="opcion3"
                  id="opcion-3"
                  type="radio"
                  formControlName="respuesta9"
                />
                Fuerza<br />
              </div>
            </div>
            &nbsp;
            <div class="form-group">
              <div class="contenido1">
                <h5>¿Que es Enbusen?</h5>
                <input
                  name="respuesta10"
                  value="opcion1"
                  id="opcion-1"
                  type="radio"
                  formControlName="respuesta10"
                />
                Linea de ejecución del Kata<br />

                <input
                  name="respuesta10"
                  value="opcion2"
                  id="opcion-2"
                  type="radio"
                  formControlName="respuesta10"
                />
                Sensación de alerta<br />
                <input
                  name="respuesta10"
                  value="opcion3"
                  id="opcion-3"
                  type="radio"
                  formControlName="respuesta10"
                />
                Grito de concentración<br />
              </div>
            </div>
            &nbsp;
            <div class="contenido3">
              <button
                (click)="play()"
                class="btn btn-outline-success my-2 my-sm-0 letra"
                id="guardarunidad"
                type="submit"
              >
                <span class="text">Guardar</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ng-template #playModal let-c="close" let-d="dismiss">
    <div class="card">
      <div id="general_information" class="card">
        <div class="card-header">
          <strong>Hola</strong>
          <button style="float: right;" type="button" 
            class="btn btn-danger btn-icon-split"
           (click)="close()">
              <span class="icon text-red-50">
                <i class="fa fa-close"></i>
              </span>
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
</div>


