<div class="contenido5">
  <div class="contenedor">
    <div class="contenido">
      <div class="letra">
        <h1 class="letracolor">Cuestionario inicial</h1>
        <br />
        <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
          <div class="form-group">
            <div class="contenido1">
              <h5>Pregunta1</h5>
              <input
                name="respuesta1"
                value="opcion1"
                id="opcion-1"
                type="radio"
                formControlName="respuesta1"
              />
              Opcion 1<br />

              <input
                name="respuesta1"
                value="opcion2"
                id="opcion-2"
                type="radio"
                formControlName="respuesta1"
              />
              Opcion 2<br />
              <input
                name="respuesta1"
                value="opcion3"
                id="opcion-3"
                type="radio"
                formControlName="respuesta1"
              />
              Opcion 3<br />
            </div>
          </div>
          &nbsp;
          <div class="form-group">
            <div class="contenido1">
              <h5>Pregunta2</h5>
              <input
                name="respuesta2"
                value="opcion1"
                id="opcion-1"
                type="radio"
                formControlName="respuesta2"
              />
              Opcion 1<br />

              <input
                name="respuesta2"
                value="opcion2"
                id="opcion-2"
                type="radio"
                formControlName="respuesta2"
              />
              Opcion 2<br />
              <input
                name="respuesta2"
                value="opcion3"
                id="opcion-3"
                type="radio"
                formControlName="respuesta2"
              />
              Opcion 3<br />
            </div>
          </div>
          &nbsp;
          <div class="form-group">
            <div class="contenido1">
              <h5>Pregunta3</h5>
              <input
                name="respuesta3"
                value="opcion1"
                id="opcion-1"
                type="radio"
                formControlName="respuesta3"
              />
              Opcion 1<br />

              <input
                name="respuesta3"
                value="opcion2"
                id="opcion-2"
                type="radio"
                formControlName="respuesta3"
              />
              Opcion 2<br />
              <input
                name="respuesta3"
                value="opcion3"
                id="opcion-3"
                type="radio"
                formControlName="respuesta3"
              />
              Opcion 3<br />
            </div>
          </div>
          &nbsp;
          <div class="form-group">
            <div class="contenido1">
              <h5>Pregunta4</h5>
              <input
                name="respuesta4"
                value="opcion1"
                id="opcion-1"
                type="radio"
                formControlName="respuesta4"
              />
              Opcion 1<br />

              <input
                name="respuesta4"
                value="opcion2"
                id="opcion-2"
                type="radio"
                formControlName="respuesta4"
              />
              Opcion 2<br />
              <input
                name="respuesta4"
                value="opcion3"
                id="opcion-3"
                type="radio"
                formControlName="respuesta4"
              />
              Opcion 3<br />
            </div>
          </div>
          &nbsp;
          <div class="form-group">
            <div class="contenido1">
              <h5>Pregunta5</h5>
              <input
                name="respuesta5"
                value="opcion1"
                id="opcion-1"
                type="radio"
                formControlName="respuesta5"
              />
              Opcion 1<br />

              <input
                name="respuesta5"
                value="opcion2"
                id="opcion-2"
                type="radio"
                formControlName="respuesta5"
              />
              Opcion 2<br />
              <input
                name="respuesta5"
                value="opcion3"
                id="opcion-3"
                type="radio"
                formControlName="respuesta5"
              />
              Opcion 3<br />
            </div>
          </div>
          &nbsp;
          <div class="form-group">
            <div class="contenido1">
              <h5>Pregunta6</h5>
              <input
                name="respuesta6"
                value="opcion1"
                id="opcion-1"
                type="radio"
                formControlName="respuesta6"
              />
              Opcion 1<br />

              <input
                name="respuesta6"
                value="opcion2"
                id="opcion-2"
                type="radio"
                formControlName="respuesta6"
              />
              Opcion 2<br />
              <input
                name="respuesta6"
                value="opcion3"
                id="opcion-3"
                type="radio"
                formControlName="respuesta6"
              />
              Opcion 3<br />
            </div>
          </div>
          &nbsp;
          <div class="form-group">
            <div class="contenido1">
              <h5>Pregunta7</h5>
              <input
                name="respuesta7"
                value="opcion1"
                id="opcion-1"
                type="radio"
                formControlName="respuesta7"
              />
              Opcion 1<br />

              <input
                name="respuesta7"
                value="opcion2"
                id="opcion-2"
                type="radio"
                formControlName="respuesta7"
              />
              Opcion 2<br />
              <input
                name="respuesta7"
                value="opcion3"
                id="opcion-3"
                type="radio"
                formControlName="respuesta7"
              />
              Opcion 3<br />
            </div>
          </div>
          &nbsp;
          <div class="form-group">
            <div class="contenido1">
              <h5>Pregunta8</h5>
              <input
                name="respuesta8"
                value="opcion1"
                id="opcion-1"
                type="radio"
                formControlName="respuesta8"
              />
              Opcion 1<br />

              <input
                name="respuesta8"
                value="opcion2"
                id="opcion-2"
                type="radio"
                formControlName="respuesta8"
              />
              Opcion 2<br />
              <input
                name="respuesta8"
                value="opcion3"
                id="opcion-3"
                type="radio"
                formControlName="respuesta8"
              />
              Opcion 3<br />
            </div>
          </div>
          &nbsp;
          <div class="form-group">
            <div class="contenido1">
              <h5>Pregunta9</h5>
              <input
                name="respuesta9"
                value="opcion1"
                id="opcion-1"
                type="radio"
                formControlName="respuesta9"
              />
              Opcion 1<br />

              <input
                name="respuesta9"
                value="opcion2"
                id="opcion-2"
                type="radio"
                formControlName="respuesta9"
              />
              Opcion 2<br />
              <input
                name="respuesta9"
                value="opcion3"
                id="opcion-3"
                type="radio"
                formControlName="respuesta9"
              />
              Opcion 3<br />
            </div>
          </div>
          &nbsp;
          <div class="form-group">
            <div class="contenido1">
              <h5>Pregunta10</h5>
              <input
                name="respuesta10"
                value="opcion1"
                id="opcion-1"
                type="radio"
                formControlName="respuesta10"
              />
              Opcion 1<br />

              <input
                name="respuesta10"
                value="opcion2"
                id="opcion-2"
                type="radio"
                formControlName="respuesta10"
              />
              Opcion 2<br />
              <input
                name="respuesta10"
                value="opcion3"
                id="opcion-3"
                type="radio"
                formControlName="respuesta10"
              />
              Opcion 3<br />
            </div>
          </div>
          &nbsp;
          <div class="contenido3">
            <button
              (click)="openPopup()"
              class="btn btn-outline-success my-2 my-sm-0 letra"
              id="guardarunidad"
              type="submit"
            >
              <span class="text">Guardar</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">GeeksForGeeks</h4>
        </div>
        <div class="modal-body">
          <p>One Stop Solution for all CS problems</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closePopup()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
