<div class="flex-container" >
  <img width="900" src="assets/niños.png" />
  <br />
  
    <div class="letra"  >
      <h1 class="texto">
        ¡Una manera divertida de estudiar para tu examen de ascenso en Karate!
      </h1>
      <h1 class="texto">
        <button
          style="font-size: 30px"
          class="btn btn-outline-success my-2 my-sm-0"
          (click)="registro()"
          type="submit"
        >
          Registrarse
        </button>
      </h1>
        
      
    </div>
</div>
