<div class="contenedor">
    <div class="contenido">
        <div class="letra"  >
            <h1 class="texto">
                <br>
                ¡Escoge la unidad de tu interés!
            </h1>

            <div class="card-container">
                <button  class="circle-link"
                title="Cinturón amarillo"
                (click)="navegar()"> <img src="assets/cintu.png" height ="50" width="70" /></button>
                <button  class="circle-link"
                title="Cinturón verde"> <img src="assets/verde.png" height ="50" width="70" /></button>
            </div>
            <div class="card-container">
                <button  class="circle-link"
                title="Cinturón azul"> <img src="assets/azul.png" height ="90" width="100" /></button>
                
                <button  class="circle-linkk"
                title="Cinturón negro"> <img src="assets/negro.png" height ="60" width="80" /></button>
            </div>
            <h1 class="texto">
                <br>
                ¡Mucha suerte!
            </h1>
        </div> 
    </div>  
    
    <div class="contenido">
        <div class="letra"  >
            <h1 class="texto">
                Paso N° 1:
            </h1>
            Abre el siguiente documento PDF, donde encontrarás información relevante sobre tu examen de ascenso 
            <h1 class="texto">

            </h1>
        </div> 
    </div>   
</div>




