<div class="contenedor">
  <div class="contenido">
    <div class="letra">
      <h1 class="texto">
        <br />
        ¡Escoge la unidad de tu interés!
      </h1>
      <strong>
      </strong>
      <div class="card-container">
        <button
          class="circle-link"
          title="Cinturón amarillo"
          (click)="navegar()"
        >
          <img src="assets/cintu.png" height="50" width="70" />
        </button>
        <button class="circle-link" title="Cinturón verde">
          <img src="assets/verde.png" height="50" width="70" />
        </button>
      </div>
      <div class="card-container">
        <button class="circle-link" title="Cinturón azul">
          <img src="assets/azul.png" height="90" width="100" />
        </button>

        <button class="circle-linkk" title="Cinturón negro">
          <img src="assets/negro.png" height="60" width="80" />
        </button>
      </div>
      <h1 class="texto">
        <br />
        ¡Mucha suerte!
      </h1>
    </div>
  </div>
  <div class="contenido2">
    <div class="letra">
      <br />
      <h1 id="nombre" class="texto">Nombre del usuario </h1>
      <br />
      <div class="contenido1">
        <div class="kk">
          EXP total
          <br />
          <img width="50" src="assets/escudo.png" /> &nbsp; 100
        </div>
      </div>
      <br />
      &nbsp;
      <div class="contenido1">
        <div class="kk">
          Esmeraldas
          <br />
          <img width="60" src="assets/esmeralda.png" /> &nbsp; 50
        </div>
      </div>
      <br />
      &nbsp;
      <div class="contenido1">
        <div class="kk">
          Medalla
          <br />
          <img width="60" src="assets/bronce.png" /> &nbsp; Bronce
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tienda">
  <button class="circle-link" title="Tienda" (click)="irTienda()">
    <img src="assets/tienda.png" height="70" width="70" />
  </button>
</div>
